---

- name: Ensure dependencies are present
  ansible.builtin.package:
    name: gpg
    state: present

- name: Debian
  when: ansible_os_family == 'Debian'
  block:
    - name: Debian | Set fact
      ansible.builtin.set_fact:
        pkg_url: "https://packages.microsoft.com/config/debian/{{ ansible_distribution_major_version }}/packages-microsoft-prod.deb"
    - name: Ubuntu | Set fact
      ansible.builtin.set_fact:
        pkg_url: "https://packages.microsoft.com/config/ubuntu/{{ ansible_distribution_version }}/packages-microsoft-prod.deb"
      when:
        - ansible_distribution == "Ubuntu"

    - name: Debian | Get packages-microsoft-prod.deb
      ansible.builtin.get_url:
        url: "{{ pkg_url }}"
        dest: "/tmp/{{ pkg_url | basename }}"
        mode: '0600'
      environment: "{{ proxy_env | default(omit) }}"

    - name: Debian | Install Microsoft prod packages
      ansible.builtin.apt:
        deb: "/tmp/{{ pkg_url | basename }}"
        state: present
      notify:
        - Refresh apt cache
      when:
        - ansible_facts.packages['packages-microsoft-prod'] is not defined

    - name: Debian | adding apt preferences for Microsoft prod packages
      ansible.builtin.copy:
        content: |
          Package: *
          Pin: origin "packages.microsoft.com"
          Pin-Priority: 1001
        dest: /etc/apt/preferences.d/99microsoft-dotnet.pref
        mode: '0644'
      when: sysmon_build

    - name: Flush handlers
      ansible.builtin.meta: flush_handlers

- name: RedHat
  when: ansible_os_family == 'RedHat'
  block:
    - name: RedHat | adding Microsoft packages signing key
      ansible.builtin.rpm_key:
        key: https://packages.microsoft.com/keys/microsoft.asc
        state: present
      register: dl_result
      until: dl_result is success

    - name: RedHat | adding Microsoft prod packages repository
      ansible.builtin.package:
        name: "https://packages.microsoft.com/config/rhel/{{ ansible_distribution_major_version }}/packages-microsoft-prod.rpm"
        state: present
      when: ansible_distribution == 'RedHat'

    - name: Fedora | adding Microsoft prod packages repository
      ansible.builtin.package:
        name: "https://packages.microsoft.com/config/fedora/{{ ansible_distribution_major_version }}/packages-microsoft-prod.rpm"
        state: present
      when: ansible_distribution == 'Fedora'

- name: Ensure Microsoft packages are present
  ansible.builtin.package:
    name: "{{ microsoft_dotnet }}"
    state: present
