---

- name: Ensure dependencies are present
  ansible.builtin.package:
    name: "{{ sysmon_deps_pkgs }}"
    state: present

- name: Ensure sysmon package is installed - local build
  ansible.builtin.apt:
    deb: "{{ sysmon_build_dir }}/build/deb/sysmonforlinux_{{ sysmon_build_version }}_{{ sysmon_deb_arch }}.deb"
  when:
    - sysmon_build | bool

- name: Ensure sysmon package is installed - microsoft repo
  ansible.builtin.package:
    name: sysmonforlinux
    state: present
  when:
    - not sysmon_build | bool
    - ansible_facts['os_family'] == 'Debian' or ansible_facts['os_family'] == 'RedHat'

- name: Ensure /opt/sysmon exists
  ansible.builtin.file:
    path: /opt/sysmon
    state: directory
    mode: '0711'

- name: Install sysmon service
  ansible.builtin.command: sysmon -accepteula -i
  args:
    # creates: /etc/systemd/system/sysmon.service
    creates: /opt/sysmon/sysmon
  notify:
    - Reload systemd
  when:
    - ansible_facts['service_mgr'] == 'systemd'
    - not is_container|bool

- name: Configure sysmon
  ansible.builtin.template:
    src: "{{ sysmon_template }}"
    dest: /opt/sysmon/config.xml
    mode: '600'
    validate: 'xmllint --noout %s'
    backup: "{{ sysmon_backup | default('yes') }}"
  notify:
    # sysmon manages its systemd unit itself and can update it on its own
    - Reload systemd
    - Restart sysmon

- name: Ensure sysmon service is setup
  block:
    - name: Flush handlers
      ansible.builtin.meta: flush_handlers
  rescue:
    - name: Rerun sysmon init  # noqa no-changed-when
      ansible.builtin.command: sysmon -accepteula -i
      notify:
        - Reload systemd
        - Restart sysmon
