{{ ansible_managed | comment }}
## /etc/logrotate.d/sysmon
{{ sysmon_syslog_target }} {
    rotate {{ sysmon_logrotate_days|int }}
    daily
    missingok
    delaycompress
    compress
    create 640 {{ syslog_user }} adm
    sharedscripts
    postrotate
       if invoke-rc.d sysmon status > /dev/null 2>&1; then \
          invoke-rc.d sysmon restart > /dev/null 2>&1; \
       fi;
    endscript
}
